@model BISEWEB.Models.tblemployee

@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_masterPage.cshtml";
}


<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green">
            <i class="icon-pin font-green"></i>
            <span class="caption-subject bold uppercase"> @ViewBag.Title</span>
        </div>

    </div>
    <div class="portlet-body form">
        @using (Ajax.BeginForm("AddEmployee", "AddStuff", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnItemVoucherSaved" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @*<form role="form">*@
            <div class="form-body">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="col-md-10 form-group form-md-line-input form-md-floating-label">
                            @Html.TextBoxFor(model => model.emp_cd, new { @class = "form-control", id = "txtEmp_cd" })
                            <label class="col-md-2 control-label" for="form_control_1">Employee Code:</label>
                        </div>
                        <div class="col-md-10 form-group form-md-line-input form-md-floating-label ">
                            @Html.TextBoxFor(model => model.pass, new { @class = "form-control", id = "txtPass" })
                            <label class="col-md-2 control-label" for="form_control_1">Password:</label>
                        </div>
                    </div>
                    <div class="col-lg-6 form-group form-md-line-input form-md-floating-label ">
                        <img id="Image2" src="../Content/EmpImages/no-image.png" style="width:125px;height:125px" alt="No Image" />
                        <input type="file" id="FileUpload1" onchange="readURL(this)" />
                    </div>

                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-success">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "txtEmpName" })
                        <label class="col-md-2 control-label" for="form_control_1">Employee Name:</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-success">
                        @Html.TextBoxFor(model => model.fname, new { @class = "form-control", id = "txtFName" })
                        <label class="col-md-2 control-label" for="form_control_1">Father Name:</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-warning">
                        @Html.TextBoxFor(model => model.cnic, new { @class = "form-control", id = "txt_cnic" })
                        @Html.Label("Enter CNIC: ", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        @Html.TextBoxFor(model => model.ntn, new { @class = "form-control", id = "txt_ntn" })
                        @Html.Label("Enter NTN: ", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        @Html.TextBoxFor(model => model.dob, new { @class = "form-control", id = "txt_dob1" })
                        @Html.Label("Enter DOB:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        <select id="ddl_religion" class="form-control" name="ddl_religion">
                            <option selected="selected" value="0"></option>
                            <option value="1">Muslim</option>
                            <option value="2">Non-Muslim</option>
                        </select>
                        @Html.Label("Select Religion:", new { @class = "col-md-2 control-label" })
                    </div>

                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        @Html.TextBoxFor(model => model.address, new { @class = "form-control", id = "txt_address", TextMode = "MultiLine" })
                        @Html.Label("Enter Address:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control", id = "txtMobNo" })
                        @Html.Label("Enter Mobile No:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        @*<asp:DropDownList ID="ddl_last_qualify" CssClass="form-control"> </asp:DropDownList>*@
                        <select id="ddl_billcategory" class="form-control" name="ddl_billcategory"></select>
                        @Html.Label("Select Qualification:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        <select id="ddl_gender" class="form-control" name="ddl_gender">
                            <option selected="selected" value="0"></option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>
                        @Html.Label("Select Gender:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        <select id="ddl_bps" class="form-control" name="ddl_bps">
                            <option selected="selected" value="0"></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                        </select>
                        @Html.Label("Select BPS:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        <select id="ddl_billcategory" class="form-control" name="ddl_billcategory"></select>
                        @Html.Label("Select Desigination:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        @Html.TextBoxFor(model => model.date_joining, new { @class = "form-control", id = "txt_dateofjoin1" })
                        @Html.Label("Enter Date Of Joining:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        @Html.TextBoxFor(model => model.date_promote, new { @class = "form-control", id = "txt_dateofpromote1" })
                        @Html.Label("Enter Date of Promote:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        @Html.TextBoxFor(model => model.date_retired, new { @class = "form-control", id = "txt_dateofretired1" })
                        @Html.Label("Enter Date of Retirement:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        @Html.TextBoxFor(model => model.seniority, new { @class = "form-control", id = "txt_seniorityno" })
                        @Html.Label("Enter Seniority:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        <select id="ddl_billcategory" class="form-control" name="ddl_billcategory"></select>
                        @Html.Label("Select Branch:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        <select id="ddl_billcategory" class="form-control" name="ddl_billcategory"></select>
                        @Html.Label("Select Sub-Branch:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        <select id="ddl_billcategory" class="form-control" name="ddl_billcategory">
                            <option selected="selected" value="0"></option>
                            <option value="1">Officer</option>
                            <option value="2">Superintendent</option>
                            <option value="3">Staff</option>
                            <option value="4">Suspended</option>
                        </select>
                        @Html.Label("Select Bill Category:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        <select id="ddl_empcategory" class="form-control" name="ddl_empcategory">
                            <option selected="selected" value="0"></option>
                            <option value="1">Deputation</option>
                            <option value="2">Regular</option>
                            <option value="3">Contract</option>
                            <option value="4">Daily Wages</option>
                            <option value="5">Other</option>
                            <option value="6">All Staff</option>
                        </select>
                        @Html.Label("Select Employee Category:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        <select id="ddl_salarytype" class="form-control" name="ddl_salarytype">
                            <option selected="selected" value="0"></option>
                            <option value="1">Only Basic</option>
                            <option value="2">With Allowance</option>
                        </select>
                        @Html.Label("Select Salary Type:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        @Html.TextBoxFor(model => model.ecr, new { @class = "form-control", id = "txt_ecr" })
                        @Html.Label("Enter ECR:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        <select id="ddl_bloodgrp" class="form-control" name="ddl_bloodgrp">
                            <option selected="selected" value="0"></option>
                            <option value="1">A+ve</option>
                            <option value="2">A-ve</option>
                            <option value="3">B+ve</option>
                            <option value="4">B-ve</option>
                            <option value="5">AB+</option>
                            <option value="6">AB-</option>
                            <option value="7">O+ve</option>
                            <option value="8">O-ve</option>
                            <option value="9">Nill</option>
                        </select>
                        @Html.Label("Select Blood Group:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        @Html.TextBoxFor(model => model.email, new { @class = "form-control", id = "txt_email", required = "required" })
                        @Html.Label("Allowed Inter Groups", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        <select id="ddl_disability" class="form-control" name="ddl_disability">
                            <option selected="selected" value="0"></option>
                            <option value="1">Is Normal</option>
                            <option value="2">Is Disable</option>
                        </select>
                        @Html.Label("Select Disability:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        @Html.TextBoxFor(model => model.Driving_License, new { @class = "form-control", id = "txt_drivlicense" })
                        @Html.Label("Enter Driving License:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        @Html.TextBoxFor(model => model.Expiry_Date, new { @class = "form-control", id = "txt_expirydate1" })
                        @Html.Label("Enter License Exirty Date:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        @Html.TextBoxFor(model => model.accountNo, new { @class = "form-control", id = "txt_accountno" })
                        @Html.Label("Enter Account No:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        <select id="ddl_paystage" class="form-control" name="ddl_paystage">
                            <option Value="0"></option>
                            <option Value="1">1</option>
                            <option Value="2">2</option>
                            <option Value="3">3</option>
                            <option Value="4">4</option>
                            <option Value="5">5</option>
                            <option Value="6">6</option>
                            <option Value="7">7</option>
                            <option Value="8">8</option>
                            <option Value="9">9</option>
                            <option Value="10">10</option>
                            <option Value="11">11</option>
                            <option Value="12">12</option>
                            <option Value="13">13</option>
                            <option Value="14">14</option>
                            <option Value="15">15</option>
                            <option Value="16">16</option>
                            <option Value="17">17</option>
                            <option Value="18">18</option>
                            <option Value="19">19</option>
                            <option Value="20">20</option>
                            <option Value="21">21</option>
                            <option Value="22">22</option>
                            <option Value="23">23</option>
                            <option Value="24">24</option>
                            <option Value="25">25</option>
                            <option Value="26">26</option>
                            <option Value="27">27</option>
                            <option Value="28">28</option>
                            <option Value="29">29</option>
                            <option Value="30">30</option>
                            <option Value="31">31</option>
                            <option Value="32">32</option>
                            <option Value="33">33</option>
                            <option Value="34">34</option>
                            <option Value="35">35</option>
                        </select>
                        @Html.Label("Select Pay Stage:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        @Html.TextBoxFor(model => model.about, new { @class = "form-control", id = "txt_about", TextMode = "MultiLine", required = "required" })
                        @Html.Label("Abount:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        <select id="ddlIsActive" class="form-control" name="ddlIsActive">
                            <option value="0"></option>
                            <option value="1">Non-Active</option>
                            <option value="2">Active</option>
                        </select>
                        @Html.Label("Select Status:", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 form-group form-md-line-input form-md-floating-label has-error">
                        <select id="ddl_emp_status" class="form-control" name="ddl_emp_status">
                            <option selected="selected" value="0"></option>
                            <option value="1">Present</option>
                            <option value="2">Suspend</option>
                            <option value="3">On Leave</option>
                            <option value="4">Free</option>
                            <option value="5">Retire</option>
                            <option value="6">Death</option>
                        </select>
                        @Html.Label("Select Employee Status", new { @class = "col-md-2 control-label" })
                    </div>
                  
                </div>
            </div>
            <div class="col-md-11 form-group form-md-line-input form-md-floating-label has-error right">
                <button id="showtoast" class="btn green btn-block">Save Record</button>
            </div>
            <br />

            <div class="form-actions noborder right">
            </div>

        }
    </div>
</div>





<script src="jQuery.js" type="text/javascript"></script>
<script type="text/javascript">
        function readURL(input) {
            if (input.files[0].size > 60000) {
                toastr.error("Choose Another File Image Should Be Less Then 60 KB !", "Wrong Input")
                return false;
            }
            else {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#Image2').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
        }
</script>





































